.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.popup-content {
  background: white;
  width:250px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
}

.popup-gif {
  width: 125px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px;
}
